//Import (archivos fragmentados para organizar. Colores, tipografia, estuctura, etc)
//VARIABLES
@import "partials/variables.scss";

@font-face {
    font-family:$familiaFuente;
    src: url($urlFuente);
}
//ANIDAMIENTOS
body {
    margin: $margenPrincipal;
    border: solid $anchoBorde1 $borde;
    font-family:$familiaFuente, sans-serif;
}
nav{
    background-color: $colorFondo1;
    ul{
        li{
            background-color:$colorFondo1;
            display: inline-block;
            padding: $margenPrincipal;
            text-decoration: none;
            &:hover{
                background-color:$colorLiPrincipal2;
            }
        }
    } 
}
aside{
    background-color:$colorFondo2;
    float: left;
    height: 100%;
    width: 200px;
    ol{
        list-style-type:decimal-leading-zero;
    }
    ol li{
        color:$colorLiPrincipal2;
        padding: $margenPrincipal;
        &:hover{
            font-size: 150%;
            color: $borde3;
        }
    }
    h2{
        color:$colorLiPrincipal2; 
        text-align: $alineacion1;
    }
}
main{
    section{
        h2{
            color:$borde2;
        }
        h3{
            &:hover{
            background-color:$borde3;
            }
        }
        img{
            margin: 30px 20px 5px 20px;
        }
    }
}
#header{
    background-color: $colorLiPrincipal2;
    text-align: $alineacion1;
    .tituloGrande{
        font-size: 35px;
        color: $borde3;
        text-orientation: sideways-right;
    }
}
#main{
    background-color:$colorFondo2;
    height: $alto1;
    .menuLateral{
        font-weight:$tipoFuente1;
        background-image: url("../images/fondo.jpg");
        background-repeat: repeat;
        background-position: $alineacion1;
    }
    .menuPrincipal{
        font-weight:$tipoFuente1;
        font-style: italic;
    }
    .bordes{
        border-left: solid $anchoBorde1 $borde1;
        border-top: solid $anchoBorde1 $borde1;
        border-right: solid $anchoBorde2 $borde2;
        border-bottom: solid $anchoBorde2 $borde2;
    }
    .sinSubrayado{
        text-decoration: none;
    }
}
#footer{
    background-color:$colorFondo1;
    text-align: $alineacion1;
    font-size: 100%;
    font-weight:$tipoFuente1;
    .centrarVertical{
        vertical-align:middle;
    }
}