
$alto1:800px;
$margenPrincipal: 10px;
$familiaFuente:"Arvo";
$urlFuente:"../fonts/Arvo/Arvo-Regular.ttf";
$tipoFuente1: bold;
$alineacion1: center;
$colorFondo1: coral;
$colorFondo2: greenyellow;
$borde: gray;
$colorLiPrincipal: darksalmon;
$colorLiPrincipal2: darkslateblue;
$borde1:peru;
$borde2:orangered;
$borde3:red;
$anchoBorde1: 5px;
$anchoBorde2: 10px;