$altoBody: 100vh;
$margenPrincipal: 5px;
$familiaFuente:"Arvo";
$tipoFuente1: bold;
$colorFondo1: goldenrod;
$colorFondo2: khaki;
$textoSpan1: red;
$colorLiPrincipal: seagreen;
$colorLiPrincipal2: darkslateblue;